<div class="container">
  <div class="row">
    <div class="col-md-9">
      <h2>Sample User</h2>
      Etiam et vulputate ex. Ut id lorem nec nibh ornare euismod. Ut turpis quam, rhoncus ac orci quis, vestibulum egestas velit. Donec in molestie odio, vel sollicitudin augue. Suspendisse arcu tellus, sollicitudin et scelerisque vitae, faucibus tincidunt massa. Aliquam ultricies cursus ante. Nulla facilisi. Nulla vitae viverra nibh. Vestibulum venenatis varius leo, suscipit volutpat sapien efficitur sed.
      <user-projects-listing></user-projects-listing>
    </div>
    <div class="col-md-3">
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <img src="img/SampleUser.png" class="img-responsive img-rounded">
          <b>Sample User</b>
        </div>
        <div class="col-md-2"></div>
      </div>
      <div class="row padding-top">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <img src="img/SampleOrg.png" class="img-responsive img-rounded">
          <b>Sample Org</b>
        </div>
        <div class="col-md-2"></div>
      </div>    
      <div class="row padding-top">
        <div class="col-md-2"></div>
        <div class="col-md-8 no-padding align-center">
          <a class="btn btn-md btn-success" href="#" role="button">Add a new project</a>
        </div>
        <div class="col-md-2"></div>
      </div> 
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10 no-padding align-center">
        </div>
        <div class="col-md-1"></div>
      </div>
    </div>
  </div>
</div>
