<div class="row">
  <div class="col-sm-12">
    <div class="jumbotron jumbotron-home">
      <div class="jumbotron-inner">
        <h1>Help investigate the issues that matter to you</h1>
        <h3 style="margin-bottom: 20px;">
          InfoScribe lets you work with journalists to get at the data
          that drives essential investigative reporting.
        </h3>
        <ul>
        	<li class="lead" style="margin: 0;">Select documents by topic or publication.</li>
        	<li class="lead" style="margin: 0;">Transcribe one document or dozens.</li>
        	<li class="lead" style="margin: 0;">Collaborate directly with journalists and get credit for your work.</li>
        </ul>
        <br>
        <% if (!user) { %>
        <p>
          <a class="btn btn-lg btn-primary" href="#" role="button" data-toggle="modal" data-target="#signupModal">Sign up today</a> or <a class="btn btn-default" href="#" data-toggle="modal" data-target="#loginModal"><b>Log in</b></a>
        </p>
        <% } %>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-4">
    <div class="panel panel-default zoom-on-hover">
      <div class="panel-heading"><h4>Project One</h4></div>
      <div class="panel-body">
        <p>
          Lorem ipsum dolor sit amet, nam eu unum porro primis. Pro cu habeo nulla, sed aperiam complectitur ei, usu voluptua suavitate signiferumque te. Delicata mediocrem no sed, minim nihil suavitate cum ex. Nam te utamur imperdiet philosophia. Cu est affert inermis commune.
        </p>
        <p class="text-right">
          <a href="/projects" class="btn btn-default">Find out more <i class="fa fa-angle-right"></i></a>
        </p>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="panel panel-default zoom-on-hover">
      <div class="panel-heading"><h4>Project Two</h4></div>
      <div class="panel-body">
        <p>
          Lorem ipsum dolor sit amet, nam eu unum porro primis. Pro cu habeo nulla, sed aperiam complectitur ei, usu voluptua suavitate signiferumque te. Delicata mediocrem no sed, minim nihil suavitate cum ex. Nam te utamur imperdiet philosophia. Cu est affert inermis commune.
        </p>
        <p class="text-right">
          <a href="/projects" class="btn btn-default">Find out more <i class="fa fa-angle-right"></i></a>
        </p>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="panel panel-default zoom-on-hover">
      <div class="panel-heading"><h4>Project Three</h4></div>
      <div class="panel-body">
        <p>
          Lorem ipsum dolor sit amet, nam eu unum porro primis. Pro cu habeo nulla, sed aperiam complectitur ei, usu voluptua suavitate signiferumque te. Delicata mediocrem no sed, minim nihil suavitate cum ex. Nam te utamur imperdiet philosophia. Cu est affert inermis commune.
        </p>
        <p class="text-right">
          <a href="/projects" class="btn btn-default">Find out more <i class="fa fa-angle-right"></i></a>
        </p>
      </div>
    </div>
  </div>
</div>