<div class="container">
  
  <div class="jumbotron">
      <h2>Help investigate the issues that matter to you</h2>
      <p class="lead">InfoScribe lets you work with journalists to get at the data the drives essential investigative reporting.</p>
      <br/>
      <ul>
      	<li>Select documents by topic or publication.</li>
      	<li>Transcribe one document or dozens.</li>
      	<li>Collaborate directly with journalists and get credit for your work.</li>
      </ul>
      <br/>
      <p>
        <a class="btn btn-lg btn-success" href="#" role="button">Sign up today</a> or <a class="btn btn-lg btn-default" href="#"><b>Log in</b></a>
      </p>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <h3>Preview pages</h3>
      <ul>
        <li><a href="/dashboard">Dashboard preview</a></li>
        <li><a href="/transcribe">Transcription preview</a></li>
      </ul>
    </div>
  </div>

  <!--
  <collections-highlight></collections-highlight>
    
  -->
</div> 