<div class="container">
  
  <div class="jumbotron jumbotron-home">
    <div class="jumbotron-home-inner">
      <h1>Help investigate the issues that matter to you</h1>
      <p class="lead">InfoScribe lets you work with journalists to get at the data the drives essential investigative reporting.</p>
      <br/>
      <ul>
      	<li>Select documents by topic or publication.</li>
      	<li>Transcribe one document or dozens.</li>
      	<li>Collaborate directly with journalists and get credit for your work.</li>
      </ul>
      <br/>
      <p>
        <a class="btn btn-lg btn-success" href="#" role="button" data-toggle="modal" data-target="#signupModal">Sign up today</a> or <a class="btn btn-default" href="#" data-toggle="modal" data-target="#loginModal"><b>Log in</b></a>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">{Featured Project Name}</h3>
        </div>
        <div class="panel-body">
          <p>Project description</p>
          <p>
            <a href="">More...</a>
          <p>
          <p class="text-right">
            <a href="" class="btn btn-default">Contribute</a>
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">{Featured Project Name}</h3>
        </div>
        <div class="panel-body">
          <p>Project description</p>
          <p>
            <a href="">More...</a>
          <p>
          <p class="text-right">
            <a href="" class="btn btn-default">Contribute</a>
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">{Featured Project Name}</h3>
        </div>
        <div class="panel-body">
          <p>Project description</p>
          <p>
            <a href="">More...</a>
          <p>
          <p class="text-right">
            <a href="" class="btn btn-default">Contribute</a>
          </p>
        </div>
      </div>
    </div>
  </div>
  
  <!--
  <collections-highlight></collections-highlight>    
  -->
</div> 